body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

#score-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
}

#player2-score {
  margin-right: 40%;
}

#player1-score {
  margin-left: 40%;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: #fff;
  margin-top: 10px;
}

#ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 25px;
}

#paddle1,
#paddle2 {
  position: absolute;
  width: 15px;
  height: 80px;
  background-color: #333;
}

#paddle1 {
  left: 0;
}

#paddle2 {
  right: 0;
}

/* Custom modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}