body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

#score-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
}

#player2-score {
  margin-right: 40%;
}

#player1-score {
  margin-left: 40%;
}

#game-container {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: #fff;
  margin-top: 10px;
}

#ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #333;
}

#paddle1,
#paddle2 {
  position: absolute;
  width: 20px;
  height: 40px;
  background-color: #333;
}

#paddle1 {
  left: 0;
}

#paddle2 {
  right: 0;
}