body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f2e9e4;
  overflow-x: hidden;
}

header {
  background-color: #c9ada7;
  color: #22223b;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  width: 100%;
}

header h1 {
  margin: 0;
}

#score-container {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  font-size: 18px;
  width: 100%;
}

#player2-score {
  margin-right: 40%;
}

#player1-score {
  margin-left: 40%;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: #22223b;
  margin-top: 10px;
}

#ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #9a8c98;
  border-radius: 25px;
}

#paddle1,
#paddle2 {
  position: absolute;
  width: 15px;
  height: 80px;
  background-color: #9a8c98;
}

#paddle1 {
  left: 0;
}

#paddle2 {
  right: 0;
}

/* pop up modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c9ada7;
  padding: 20px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #f2e9e4;
}

#startButton {
  background-color: #c9ada7;
  color: #22223b;
  padding: 10px 40px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
}

#startButton:hover {
  background-color: #9a8c98;
}

footer {
  background-color: #c9ada7;
  color: #22223b;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

@media only screen and (max-width: 935px) {
  #score-container {
    font-size: 12px;
  }

  #player2-score,
  #player1-score {
    margin: 0;
  }

  #game-container {
    width: 90%;
    max-width: none;
    height: 12rem;
  }

  #ball {
    width: 16px;
    height: 16px;
  }

  #paddle1,
  #paddle2 {
    width: 18px;
    height: 55px;
  }

  #score-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
  }

  #player2-score {
    margin-right: 30%;
  }

  #player1-score {
    margin-left: 30%;
  }

  header {
    background-color: #c9ada7;
    color: #22223b;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    width: 100%;
  }
}
